[submodule "delta"]
	path = delta
	url = https://github.com/derrybirkett/delta.git
[submodule "council"]
	path = council
	url = https://github.com/derrybirkett/council
[submodule "merge"]
	path = merge
	url = https://github.com/derrybirkett/merge
[submodule "ledger"]
	path = ledger
	url = https://github.com/derrybirkett/ledger
[submodule ".moirai"]
	path = .moirai
	url = https://github.com/derrybirkett/moirai
[submodule ".agents/curator"]
	path = .agents/curator
	url = https://github.com/derrybirkett/curator
	branch = main
[submodule ".agents/auditor"]
	path = .agents/auditor
	url = https://github.com/derrybirkett/auditor
	branch = main
