[submodule "delta"]
	path = delta
	url = https://github.com/derrybirkett/delta.git
[submodule "council"]
	path = council
	url = https://github.com/derrybirkett/council
[submodule "merge"]
	path = merge
	url = https://github.com/derrybirkett/merge
